<!-- <div class="row"> -->
    <div class="col-3" *ngFor="let obj of arr" style="padding-top:1em;"  >
        <div class="card" style="width: 13rem;color:rgb(0, 26, 255);background-color: rgb(241, 255, 255)"  >
                <!-- <img class="card-img-top"
                 src="{{obj.imageLink}}" alt="Card image cap"> -->
                <div class="card-body">
                    <h5 class="card-title">{{obj.name}}</h5>
                    <h5 class="card-title">{{obj.password}}</h5>
                    <!-- <p class="card-text">{{obj.city}}</p> -->
                    <!-- <a href="#" class="btn btn-primary">
                        {{obj.address}}</a> -->
  
         <button type="submit" [routerLink]="['/update',obj._id]" style="color:rgb(205, 253, 255);background-color: rgb(4, 0, 255)">Update</button>
                </div>
            <!-- </div>    -->
     