<header id="header">
  <div class="container">

    <!-- <div id="logo" class="pull-left">
      <a href="#hero"><img src="../../assets/logo.png" alt="LOGO" height="1000px" /></a>
      <!-- Uncomment below if you prefer to use a text image -->
      <!--<h1><a href="#hero">Header 1</a></h1>-->
    <!-- </div> --> 

    <nav id="nav-menu-container">
      <ul class="nav-menu"  >
        <li class="menu-active"><a [routerLink]="['/']">Home</a></li>
        <li><a [routerLink]="['/about']">About Us</a></li>
        <li><a [routerLink]="['/services']">Services</a></li>
        <li><a [routerLink]="['/events']">Events</a></li>
     
        <li><a [routerLink]="['/contact']">Contact Us</a></li>
      </ul>
    </nav>
    <!-- #nav-menu-container -->
  </div>
</header> 
 
 
 <!--==========================
  About Section
  ============================-->
  <section id="hero3">
        <div class="hero-container">
          <div class="wow fadeIn">
      
      
            <h1>WELCOME TO SAPPHIRE EVENTS</h1>
         
            
          </div>
        </div>
      </section>
  
  
  
  
  
  
  
    <section id="about" style="font-family:'Palatino Linotype';font-size:18px;">
        <div class="container wow fadeInUp">
          <div class="row">
            <div class="col-md-12">
              <h3 class="section-title">VENUE</h3>
              <div class="section-title-divider"></div>
             
            </div>
          </div>
        </div>
        <div class="container about-container wow fadeInUp">
          <div class="row">
              <div class="col-md-4 about-content">
                  
                  <p class="about-text">
                    
        
                    From a small function to grand scale occasions,we have venues for each event. We have venues catering for wide range of occasions including; wedding ceremony, conference, meeting, party, extraordinary event, shows, presentations, workshops .... the list goes on. With our fully compiled image gallery, you can watch the style of venues.
                  </p>
                 
                </div>
    
            <div class="col-md-2 about-img">
             <img src="../../assets/bven.jpg" style="height: 200px;width:200px">
  
            
            </div>
    
            <div class="col-md-2 about-img">
                <img src="../../assets/tven.jpeg" style="height: 200px;width:200px">
                  
                
               </div>
               <div class="col-md-2 about-img">
                  <img src="../../assets/bven2.jpg" style="height: 200px;width:200px">
                  
                 </div>
                 <div class="col-md-2 about-img">
                    <img src="../../assets/ven4.jpg" style="height: 200px;width:200px">
                  
    
                       
                   </div>

                   <div class="col-md-4 about-content">
                  
                    <p class="about-text" style="padding-top:20px;">
                      The venue of your event is one such factor of key importance that cannot be overlooked as it is the place where everything else requires to be installed and staged up. 
                    </p>
                   
                  </div>
                  <div class="col-md-2 about-img">
                    <img src="../../assets/tven1.jpg" style="height: 200px;width:200px">
                      
                    
                   </div>
                   <div class="col-md-2 about-img">
                      <img src="../../assets/ven2.jpg" style="height: 200px;width:200px">
                      
                     </div>
                     <div class="col-md-2 about-img">
                        <img src="../../assets/bven1.jpg" style="height: 200px;width:200px">
                      
        
                           
                       </div>
          </div>
        </div>
      </section> 
      
  
  
  <app-footer></app-footer>
  
  