<footer id="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="copyright">
            &copy; Copyright <strong>SAPPHIRE EVENTS</strong>. All Rights Reserved
          </div>
          
          <div class="credits">
            <div>
              <i class="fa fa-pinterest " ></i>
              <i class="fa fa-google-plus" style="padding-right:10px;padding-left:10px;"></i>
              <i class="fa fa-instagram"></i>
            </div>