<header id="header">
  <div class="container">

    <!-- <div id="logo" class="pull-left">
      <a href="#hero"><img src="../../assets/logo.png" alt="LOGO" height="1000px" /></a>
      <!-- Uncomment below if you prefer to use a text image -->
      <!--<h1><a href="#hero">Header 1</a></h1>-->
    <!-- </div> --> 

    <nav id="nav-menu-container">
      <ul class="nav-menu"  >
        <li class="menu-active"><a [routerLink]="['/']">Home</a></li>
        <li><a [routerLink]="['/about']">About Us</a></li>
        <li><a [routerLink]="['/services']">Services</a></li>
        <li><a [routerLink]="['/events']">Events</a></li>
        <li class="menu-has-children"><a href="">Log-in/Sign-up</a>
          <ul>
            <li><a [routerLink]="['/login']">Log-in</a></li>
            <!-- <li class="menu-has-children"><a href="#">Drop Down 2</a>
               <ul>
                <li><a href="#">Deep Drop Down 1</a></li>
                <li><a href="#">Deep Drop Down 2</a></li>
                <li><a href="#">Deep Drop Down 3</a></li>
                <li><a href="#">Deep Drop Down 4</a></li>
                <li><a href="#">Deep Drop Down 5</a></li>
              </ul> 
            </li> -->
            <li><a [routerLink]="['/register']">Registeration</a></li>
            <li><a [routerLink]="['/vlogin']">Vendor Log-in</a></li>
            <li><a [routerLink]="['/vregister']">Vendor Registration</a></li>
          </ul>
        </li>
        <li><a [routerLink]="['/contact']">Contact Us</a></li>
       
      </ul>
    </nav>
    <!-- #nav-menu-container -->
  </div>
</header>

<section id="hero2">
        <div class="hero-container">
          <div class="wow fadeIn">
      
      
            <!-- <h1>Welcome to SAPPHIRE EVENTS</h1> -->
         
            
          </div>
        </div>
      </section>




<section id="about">
        <div class="container wow fadeInUp">
          <div class="row">
            <div class="col-md-12">
              <h3 class="section-title">CATERING</h3>
              <div class="section-title-divider"></div>
             
            </div>
          </div>
        </div>
        
        <h3 style="font-family:'Palatino Linotype';padding-left:2em;">We provide catering service and our menu contains:Punjabi,Continental,Western,Mughlai,Rajasthani Food,Snacks and so on..</h3>
        <div class="container">
          <div class="row">
          <!--Carousel Wrapper-->
<div id="multi-item-example" class="carousel slide carousel-multi-item carousel-multi-item-2" data-ride="carousel">

  <!--Controls-->
  <div class="controls-top">
    <a class="black-text" href="#multi-item-example" data-slide="prev"><i class="fa fa-hand-o-left" style="padding-right: 1em"></i></a>
    <a class="black-text" href="#multi-item-example" data-slide="next"><i class="fa fa-hand-o-right"></i></a>
  </div>
  <!--/.Controls-->

  <!--Slides-->
  <div class="carousel-inner" role="listbox">

    <!--First slide-->
    <div class="carousel-item active">

      <div class="col-md-3 mb-3">
        <div class="card">
          <img class="img-fluid" src="../../assets/dal.jpg"
            alt="Card image cap" style="height:200px;width:250px;">
        </div>
      </div>

      <div class="col-md-3 mb-3">
        <div class="card">
          <img class="img-fluid" src="../../assets/mug.jpg"
            alt="Card image cap" style="height:200px;width:250px;">
        </div>
      </div>

      <div class="col-md-3 mb-3">
        <div class="card">
          <img class="img-fluid" src="../../assets/ps.jpg"
            alt="Card image cap" style="height:200px;width:250px;">
        </div>
      </div>

      <div class="col-md-3 mb-3">
        <div class="card">
          <img class="img-fluid" src="../../assets/drink1.jpg"
            alt="Card image cap" style="height:200px;width:250px;">
        </div>
      </div>

    </div>
    <!--/.First slide-->

    <!--Second slide-->
    <div class="carousel-item">

      <div class="col-md-3 mb-3">
        <div class="card">
          <img class="img-fluid" src="../../assets/dahi.jpg"
            alt="Card image cap" style="height:200px;width:250px;">
        </div>
      </div>

      <div class="col-md-3 mb-3">
        <div class="card">
          <img class="img-fluid" src="../../assets/dosa.jpg"
            alt="Card image cap" style="height:200px;width:250px;">
        </div>
      </div>

      <div class="col-md-3 mb-3">
        <div class="card">
          <img class="img-fluid" src="../../assets/raj.jpg"
            alt="Card image cap" style="height:200px;width:250px;">
        </div>
      </div>

      <div class="col-md-3 mb-3">
        <div class="card">
          <img class="img-fluid" src="../../assets/west.jpg"
            alt="Card image cap" style="height:200px;width:250px;">
        </div>
      </div>

    </div>
    <!--/.Second slide-->

    <!--Third slide-->
    <div class="carousel-item">

      <div class="col-md-3 mb-3">
        <div class="card">
          <img class="img-fluid" src="../../assets/french.jpg"
            alt="Card image cap" style="height:200px;width:250px;">
        </div>
      </div>

      <div class="col-md-3 mb-3">
        <div class="card">
          <img class="img-fluid" src="../../assets/ice.jpeg"
            alt="Card image cap" style="height:200px;width:250px;">
        </div>
      </div>

      <div class="col-md-3 mb-3">
        <div class="card">
          <img class="img-fluid" src="../../assets/fruit.jpg"
            alt="Card image cap" style="height:200px;width:250px;">
        </div>
      </div>

      <div class="col-md-3 mb-3">
        <div class="card">
          <img class="img-fluid" src="../../assets/pan.jpg"
            alt="Card image cap"style="height:200px;width:250px;">
        </div>
      </div>

    </div>
    <!--/.Third slide-->

  </div>
  <!--/.Slides-->

</div>
<!--/.Carousel Wrapper-->
          </div>
         
      </div>
      <h3 style="font-family:'Palatino Linotype';padding-left:2em;text-align: center">We provide cake services also</h3>
      <!-- <div class="row" style="height: 20px"> -->
        <!-- <img src="../../assets/sakshi/wedding-ideas-15-12232015-km.jpg"> -->
        <!-- </div> -->
      </section> 
      <app-footer></app-footer>