
<!-- <div  style="background-image: url(../../assets/wal.jpg); height: 100%;background-position: center;
background-repeat: no-repeat;
background-size: cover;"> -->

<div class="registration">
<div class="col-md-12"> 
   

    <form >
            <h2  style="margin-left: 1.3cm;padding-top:4em;color: rgb(255, 136, 0);font-family:Harrington ">WELCOME TO CRESCENT EVENTS</h2> 
            <br>        
           <i class="fa fa-group" style="padding-top:4em"></i> <div class="form-group">
            <input type="text" class="form-control" [(ngModel)]="name" name="name"  placeholder="Enter Your Username"> </div> 
       <br> 
       <!-- <i class="fa fa-envelope"></i>  
                <input type="email" class="form-control" id="inputEmail4" [(ngModel)]="email" placeholder="Enter your e-mail" name="email"> -->
          
                
       <i class="fa fa-key" style="padding-top:3em;"></i>
       <div class="form-group">
                <input type="password" class="form-control" id="inputPassword4" [(ngModel)]="password" placeholder="Enter your Password" name="password"  ></div>
            <!-- <div class="row">
            <div class="col-md-4" style="margin-left: 2.0cm;">
                <br>
                 <label for="inputWeight">Weight</label>
                <input type="text" class="form-control" id="inputWeight" [(ngModel)]="weight" name="weight" placeholder="in Kg">
            </div>
            <div class="col-md-4">
                <br>
                <label for="inputHeight">Height</label>
                <input type="text" class="form-control" id="inputHeight" name="height" [(ngModel)]="height"  placeholder="in cm">
            </div>
            </div> -->
            <br>
           
        <button type="submit" class="logbtn" (click)="addData()"  style="text-align:center">SIGN IN</button>
    </form>
 <!-- <div class="col-md-6" style="padding-top:3em;font-family:Harrington;font-size:25px;">  NOT A MEMBER <a [routerLink]="['/register']">REGISTER</a> YOURSELF</div>  -->
</div>
</div>

<!-- </div> -->